@font-face {
    font-family: 'Yandex Sans Text';
    src: url('font/yandex/YandexSansText-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Yandex Sans Text', sans-serif;
  }

h1, p{
    margin: 0;
}

.flash{
    color: red;
    position: absolute;
    margin-left: 400px;
    margin-top: 9px;
}

.content{
    width: 1200px;
    height: auto;
    margin: 50px auto;
    display: flex;
    border: 5px solid #ffdb4d;
    border-radius: 10px;
}

.left-bar {
    width: 300px;
    height: auto;
    background-color: #ffdb4d;
}

.left-bar-content{
    
}

.lbc-head{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}

.title{
    margin-right: 10px;
}

.lbc-reload-btn{
    padding-top: 5px;
    width: 80px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.lbc-reload-btn:hover{
    color: red;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.lbc-menu{
    margin: 0 0 20px 10px;
}

.lbc-menu-list{
    display: flex;
    flex-direction: column;
}

.lbc-menu-list-item{
    border-top: 1px solid red;
    text-decoration: none;
    padding: 5px 0 0 10px;
    color: black;
    background-color: none;
    transition: background-color 1s ease, color 1s ease;
}

.lbc-menu-list-item:hover{
    color: rgb(255, 0, 0);
    background-color: white;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.right-bar{
    width: 900px;
    height: auto;

}
.right-bar-content{
    padding: 10px;
}

.right-bar-content-head{
    margin-bottom: 30px;
}

.right-bar-content-secform{
    display: flex;
    justify-content: space-around;
    background-color: rgb(141, 0, 0);
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
    padding: 10px;
}

.secform-block{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-bar-content-form{
    margin-bottom: 30px;
}

.rbc-info{
    display: flex;
    align-items: center;
    width: 650px; 
    font-size: 14px;
}

.views-logo {
    width: 40px;
    margin-right: 10px;
}

.rbc-num-field{
    width: 60px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.all-views-btn{
    height: 30px;
    width: 80px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(141, 0, 0);
    color: white;
    font-size: 15px;
}

.all-views-btn:hover{
    color: rgb(141, 0, 0);
    background-color: white;
}

.all-views-btn-dis{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color: black;
    background-color: #ccc;
    color: black;
    font-size: 15px;
}

.views-btn{
    height: 29px;
    width: 65px;
    border: none;
    border-radius: 5px;
    background-color: rgb(141, 0, 0);
    color: white;
}

.views-btn:hover{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.views-btn-dis {
    height: 29px;
    width: 65px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: black;
}

.queue_form{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.queue-url-field{
    width: 500px;
    height: 21px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.queue-views-field{
    width: 50px;
    height: 21px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.queue-service-field {
    width: 80px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.queue-btn{
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(141, 0, 0);
    color: white;
}

.queue-btn:hover{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.queue-table{
    width: 100%;
    border-collapse: collapse;
	text-align: center;
    font-size: 14px;
}

.queue-table a{
   text-decoration: none;
   color: rgb(141, 0, 0);
}

.queue-table td{
    border: 1px solid black;
    padding: 5px;
}

.queue-table-delete-btn{
    font-size: 20px;
}

.views-num-form{
    display: flex;
    justify-content: space-between;
}

.right-bar-content-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-form{
    display: flex;
    justify-content: space-between;
}

.select-field{
    width: 700px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    
}

.database-btn{
    height: 25px;
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: rgb(141, 0, 0);
    color: white;
}

.database-btn:hover{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.right-bar-content-pagination{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.pag-next{
    padding-top: 4px;
    width: 50px;
    height: 19px;
    background-color: rgb(141, 0, 0);
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

.pag-next:hover{
    width: 48px;
    height: 17px;
    background-color: white;
    border: 1px solid rgb(141, 0, 0);
    border-radius: 5px;
    color: rgb(141, 0, 0);
}

.pag-prev{
    padding-top: 4px;
    width: 50px;
    height: 19px;
    background-color: rgb(141, 0, 0);
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

.pag-prev:hover{
    width: 48px;
    height: 17px;
    background-color: white;
    border: 1px solid rgb(141, 0, 0);
    border-radius: 5px;
    color: rgb(141, 0, 0);
}

.pag-disable{
    padding-top: 3px;
    width: 48px;
    height: 18px;
    background-color: white;
    border: 1px solid rgb(141, 0, 0);
    border-radius: 5px;
    color: rgb(141, 0, 0);
    text-align: center;
    font-size: 12px;
}

.tablinks{
    width: 218px;
    border: 2px solid rgb(141, 0, 0);
    background-color: rgb(141, 0, 0);
    color: white;
}
.tabcontent{
    display: none;
    margin: 0;
    padding: 15px;
}
.active {
    display: block;
}
.tab-active {
    background-color: white;
    border: 2px solid rgb(141, 0, 0);
    color: rgb(141, 0, 0);
}

.log-line {
    font-size: 10pt;
}

.logs-btn {
    display: flex;
    justify-content: space-between;
}