<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebZenViewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body class="main-container">
    <section class="content">

        <section class="left-bar">

            <section class="left-bar-content">

                <section class="lbc-head">
                    <h1>WebZenViewer 1.0</h1>
                    <a href="{{ url_for('index') }}">Reload</a>
                </section>

                <section class="lbc-menu">
                    <ul>
                        <li><a href="{{ url_for('views') }}">VIEWS</a></li>
                        <li><a href="{{ url_for('queue') }}">VIEWS QUEUE</a></li>
                        <li><a href="{{ url_for('index') }}">DATABASE</a></li>
                    </ul>
 
                </section>

            </section>
            
        </section>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <section class="flash">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                </section>
            {% endif %}
        {% endwith %}

        <section class="right-bar">
            <section class="right-bar-content">
                {% block rightbar %}{% endblock %}
            </section>     
        </section>

    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>