<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebZenViewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body class="main-container">
    <section class="content">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <section class="flash">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                </section>
            {% endif %}
        {% endwith %}

        <section class="left-bar">

            <section class="left-bar-content">

                <section class="lbc-head">
                    <h1 class="title">WebZenViewer 1.0</h1>
                    <a href="{{ url_for('index') }}" class="lbc-reload-btn">Reload</a>
                </section>

                <section class="lbc-menu">
                    <div class="lbc-menu-list">
                        <a href="{{ url_for('views') }}" class="lbc-menu-list-item">VIEWS</a>
                        <a href="{{ url_for('queue') }}" class="lbc-menu-list-item">LINK QUEUE</a>
                        <a href="{{ url_for('index') }}" class="lbc-menu-list-item">DATABASE</a>
                    </div>
 
                </section>

            </section>
            
        </section>

        <section class="right-bar">
            <section class="right-bar-content">
                {% block rightbar %}{% endblock %}
            </section>     
        </section>

    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>