{% extends 'base.html' %}

{% block rightbar %}

    <div class="right-bar-content-head">
        <h1>VIEWER HISTORY ({{ curr_object }})</h1>

    </div>

    <div class="right-bar-content-form">
        <form method="post" class="filter-form">
            {{ filter_form.hidden_tag() }}
            <div>
                {{ filter_form.curr_url.label }}
                {{ filter_form.curr_url(class_='select-field') }}
            </div>
            <div>
                {{ filter_form.submit_filter(class_='database-btn') }}
                {{ filter_form.submit_delete(class_='database-btn') }}
            </div>
        </form>
    </div>

    <div class="right-bar-content-table">
        <p>Total views: {{ count }}</p>
        <table class="queue-table">
            {% for row in history %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td style="text-align: left;"><a href="{{ row.url }}">{{ row.url }}</a></td>
                    <td>{{ row.ip }}</td>
                    <!-- <td style="border: none;"><a href="#" class="queue-table-delete-btn"><i class="fa fa-trash"></i></a></td> -->
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="right-bar-content-pagination">
        {% if prev_page %}
            <a href="{{ prev_page }}" class="pag-prev">Prev</a>
        {% else %}
            <a class="pag-disable">Prev</a>
        {% endif %}
        {% if next_page %}
            <a href="{{ next_page }}" class="pag-next">Next</a>
        {% else %}
            <a class="pag-disable">Next</a>
        {% endif %}
    </div>

{% endblock %}