{% extends 'base.html' %}

{% block rightbar %}

    <div class="right-bar-content-head">
        <h1>GET STARTED</h1>
    </div>
    <!-- <p>To get started, add the link to the queue, then go to views and run the algorithm with the desired number of views.</p>
    <p>1. In the "LINK QUEUE" tab, enter the URL and the total number of views and click "Add to queue". If your link is already in the queue go to the next step.</p>
    <p>2. In the "VIEWS" tab, enter the desired number of views and click "Start"</p>
    <p>"DATABASE" tab is not available.</p> -->
    <p>1. Чтобы начать работу прейдите во вкладку "LINK QUEUE" и добавьте ссылки с общим количеством просмотров. Это число просмотров за все время работы. 
    Если нужная ссылка/ссылки уже в очереди - переходите к следующему шагу.</p>
    <p>2. Во вкладке "VIEWS" есть два способа запуска алгоритма. Кнопка "Start all" запустит алгоритм, который просмотрит все ссылки в очереди один раз первым 
    подходящим прокси. Кнопка "Start" напротив ссылки запустит алгоритм просмотра выбранной ссылки, количество просмотров вводится в поле Views. 
    После старта одного из алгоритмов нужно просто ждать загрузки страницы.</p><br>
    <p>Во вкладке "DATABASE" можно проверить историю просмотров всех и конкретных ссылок. Чтобы просмотреть одну из ссылок нужно выбрать ее в поле Url и нажать кнопку
    Search. Чтобы удалить информацию о просмотре конкертной ссылки, после ее выбора нажать кнопку Delete.</p>


{% endblock %}