{% extends 'base.html' %}

{% block rightbar %}

    <div class="right-bar-content-head">
        <h1>GET STARTED</h1>
    </div>
    <p>To get started, add the link to the queue, then go to views and run the algorithm with the desired number of views.</p>
    <p>1. In the "LINK QUEUE" tab, enter the URL and the total number of views and click "Add to queue". If your link is already in the queue go to the next step.</p>
    <p>2. In the "VIEWS" tab, enter the desired number of views and click "Start"</p>
    <p>"DATABASE" and "LOGS" is not yet available.</p>


{% endblock %}