{% extends 'base.html' %}

{% block rightbar %}
    <section class="right-bar">

        <div class="tab">
            <button class="tablinks tab-active">VIEWS</button>
            <button class="tablinks">VIEW QUEUE</button>
            <button class="tablinks">DATABASE</button>
        </div>

        <div class="wrap">

            <div data-id="VIEWS" class="tabcontent active">
                <div class="tab-container">
                    <div class="tab-container-item">
                        <h1>LINK TO VIEW<h1>
                    </div>

                    <div class="tab-container-item">
                        {% for link in queue_links %}
                            <hr>
                            <form method="post" class="views_num_form">
                                {{ views_num_form.hidden_tag() }}
                                {{ views_num_form.url_for_viewer(size=128, value=link.url, disabled=True) }}
                                {{ views_num_form.num.label }}
                                {{ views_num_form.num(size=4) }}
                                {{ views_num_form.submit_view }}
                                
                            </form>
                            
                        {% endfor %}
                        
                    </div>
                      
                </div>
            </div>
        
            <div data-id="VIEW QUEUE" class="tabcontent">
                <div class="tab-container">
                    <div class="tab-container-item">
                        <h1>QUEUE<h1>
                    </div>

                    <div class="tab-container-item">
                        <form method="post" class="queue_form">
                            {{ queue_form.hidden_tag() }}
                            <div>
                            {{ queue_form.url_for_queue.label }}
                            {{ queue_form.url_for_queue(size=80) }}
                            {% for error in queue_form.url_for_queue.errors %}
                                <span style="color: red; font-size: 10pt;">{{ error }}</span>
                            {% endfor %}
                            </div>
                            <div>
                            {{ queue_form.views.label }}
                            {{ queue_form.views(size=4) }}
                            </div>
                            {{ queue_form.submit_link }}
                        </form>
                    </div>

                    <div class="tab-container-item">
                        <table class="queue-table">
                            {% for link in queue_links %}
                                <tr>
                                    <td style="width: 75%;">{{ link.url }}</td>
                                    <td>{{ link.views }}</td>
                                    <td>button_here</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    
                </div>
                
            </div>
        
            <div data-id="DATABASE" class="tabcontent">
                <div class="tab-container">
                    <h1>DATABASE<h1>

                </div>

            </div>
        
        </div>
                
    </section>
{% endblock %}