{% extends 'base.html' %}

{% block rightbar %}

    <div class="right-bar-content-head">
        <h1>LOGS</h1>
    </div>

    <div class="logs-btn">
        <button class="tablinks tab-active">Global</button>
        <button class="tablinks">Primary</button>
        <button class="tablinks">Secondary</button>
        <button class="tablinks">Behance</button>
        <button class="tablinks">Youtube</button>
    </div>

    <div class="right-bar-content">

        <div data-id="Global" class="tabcontent active">
            {% for line in glob_log %}
                <p class="log-line">{{ line }}</p>
            {% endfor %}
        </div>

        <div data-id="Primary" class="tabcontent">
            {% if prim_log %}
                {% for line in prim_log %}
                    <p class="log-line">{{ line }}</p>
                {% endfor %}
            {% else %}
                <p class="log-line">Первичный алгорим сегодня не был запущен.</p>
            {% endif %}   
        </div>

        <div data-id="Secondary" class="tabcontent">
            {% if secn_log %}
                {% for line in secn_log %}
                    <p class="log-line">{{ line }}</p>
                {% endfor %}
            {% else %}
                <p class="log-line">Вторичный алгорим сегодня не был запущен.</p>
            {% endif %}
        </div>

        <div data-id="Behance" class="tabcontent">
            {% if beh_log %}
                {% for line in beh_log %}
                    <p class="log-line">{{ line }}</p>
                {% endfor %}
            {% else %}
                <p class="log-line">Behance алгорим сегодня не был запущен.</p>
            {% endif %}
        </div>

         <div data-id="Youtube" class="tabcontent">
            {% if you_log %}
                {% for line in you_log %}
                    <p class="log-line">{{ line }}</p>
                {% endfor %}
            {% else %}
                <p class="log-line">Behance алгорим сегодня не был запущен.</p>
            {% endif %}
        </div>

    </div>

{% endblock %}