{% extends 'base.html' %}

{% block rightbar %}

    <div class="right-bar-content-head">
        <h1>QUEUE<h1>
    </div>

    <div class="right-bar-content-form">
        <form method="post" class="queue_form">
            {{ queue_form.hidden_tag() }}
            <div>
                {{ queue_form.url_for_queue.label }}
                {{ queue_form.url_for_queue(class_='queue-url-field') }}
                <div>
                    {% for error in queue_form.url_for_queue.errors %}
                        <span style="color: red; font-size: 10pt;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div>
                {{ queue_form.views.label }}
                {{ queue_form.views(class_='queue-views-field') }}
                <div>
                    {% for error in queue_form.views.errors %}
                        <span style="color: red; font-size: 10pt;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            {{ queue_form.submit_link(class_='queue-btn') }}
        </form>
    </div>

    <div class="right-bar-content-table">
        <table class="queue-table">
            {% for link in queue_links %}
                <tr>
                    <td>{{ link.id }}</td>
                    <td style="text-align: left;"><a href="{{ link.url }}">{{ link.url }}</a></td>
                    <td>{{ link.views }}</td>
                    <td style="border: none;"><a href="/queue/{{ link.id }}/delete" class="queue-table-delete-btn"><i class="fa fa-trash"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
{% endblock %}