{% extends 'base.html' %}

{% block rightbar %}

    <div class="right-bar-content-head">
        <h1>VIEWS<h1>
    </div>

    <div class="right-bar-content-secform">
        <div class="secform-block">
            <p style="font-size: 18px;">View all links in the queue (one viewing on the first suitable ip)</p>
            <form method="post">
                {{ all_links_form.hidden_tag() }}
                {% if daemon_viewer %}
                    {{ all_links_form.submit_all(class_='all-views-btn-dis', disabled=True) }}
                {% else %}
                    {{ all_links_form.submit_all(class_='all-views-btn') }}
                {% endif %}
            </form>
        </div>
    </div>

    <div style="margin-bottom: 30px;">
        {% if daemon_viewer %}
            <p style="color: red;">Внимание! Viewer запущен! Дождитесь окончания работы текущего чтобы запустить новый</p>
        {% else %}
            <p>Viewer не запущен.</p>
        {% endif %}
    </div>

    <div class="right-bar-content-form">
        {% for link in queue_links %}
            <hr>
            <div class="right-bar-content-links">
                <div class="rbc-info">
                    {% if link.service == 'Zen' %}
                        <img src="{{ url_for('static', filename='images/zen.svg') }}" class="views-logo">
                    {% elif link.service == 'Behance' %}
                        <img src="{{ url_for('static', filename='images/behance.svg') }}" class="views-logo">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/question.svg') }}" class="views-logo">
                    {% endif %}
                    <p>{{ link.url }}</p>
                </div>
                <form method="post" class="views-num-form" action="{{ url_for('start', id=link.id) }}">
                    <div style="margin-right: 20px">
                        {{ views_num_form.num.label }}
                        {{ views_num_form.num(class_='rbc-num-field') }}
                    </div>
                    {% if daemon_viewer %}
                        {{ views_num_form.submit_view(class_='views-btn-dis', disabled=True) }}
                    {% else %}
                        {{ views_num_form.submit_view(class_='views-btn') }}
                    {% endif %}
                </form>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}