{% extends 'base.html' %}

{% block rightbar %}

    <div class="right-bar-content-head">
        <h1>VIEWS<h1>
    </div>

    <div class="right-bar-content-form">
        {% for link in queue_links %}
            <hr>
            <div class="right-bar-content-links">
                <div style="display: flex; width: 650px">
                    <p>{{ link.id }}.</p>
                    <p>{{ link.url }}</p>
                </div>
                <form method="post" class="views-num-form" action="{{ url_for('start', id=link.id) }}">
                    <div style="margin-right: 20px">
                        {{ views_num_form.num.label }}
                        {{ views_num_form.num(size=4) }}
                    </div>
                    {{ views_num_form.submit_view }}
                </form>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}